header{
    text-align: center;
    padding:10px;
    background-color: rgb(166, 191, 163);
}
header img{
    height : 250px;
}
nav a{
    padding: 5px 15px;
    color:rgb(81, 124, 109);
    text-decoration: none;
    border-radius: 0px 0px 15px 15px;
    transition: 0.3s;
}
nav a:hover{
    color:rgb(180, 231, 223);
    background-color: rgb(22, 42, 31);
    border-radius: 30px 30px 30px 30px;
    transition: 0.5s;
    box-shadow: 5px 5px 4px -2px ;
}
.deskripsiHome{
    width: 40%;
    margin-left: 50px;
    font-size: 20px;
    & h1{
      color:rgb(217, 229, 224);
    }
    & h3{
        color:rgb(35, 95, 70);
    }& p{
        color:rgb(119, 189, 160);
    }

}
.home{
    background-image: url("bg.png");
    height:800px;
    background-size: cover;
    padding-top:100px;
}
body{
    margin:0;
}
.deskripsiHome a{
    text-decoration: none;
    color:rgb(209, 238, 218);
    background-color: rgb(22, 42, 31) ;
    padding: 10px 20px;
    border-radius: 15px;
    box-shadow: 3px 3px 5px 1px ;
    border:2px white;
}
.deskripsiHome a:hover{
    box-shadow:5px 5px 10px -2px rgb(168, 212, 166);
    padding:11px 31px;
}